.custom-button {
    /* background-color: #773CBE; */
    padding: 0.6rem 1.25rem;
    color: white;
    border-radius: 0.25rem;
}
/* .custom-disabled-button {
    background-color: #30243e;
    padding: 0.6rem 1.25rem;
    color: #ccc;
    border-radius: 0.25rem;
} */

.custom-button:hover {
    background-color: #5a2d9b;
}